<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LIVE MEETING PAGE</title>
</head>
<body>
<h2>Title: {{meeting.title_of_meeting}}</h2>
                <div id="meet">

                </div>
{% block script %}
<script src='https://meet.jit.si/external_api.js'></script>
<script>
    const domain = 'meet.jit.si';
    const options = {
        roomName: 'JitsiMeetAPIExample',
        width: 1000,
        height: 600,
        parentNode: document.querySelector('#meet'),
        lang: 'en',  // default language, change the language to english
        configOverwrite: {
            startWithAudioMuted: true, // mute device audio by default
            startWithVideoMuted: true, // mute video by default
            prejoinPageEnabled: true, // enable prejoin page to set name
            enableLobbyChat: true,  // enable lobby chat
            localRecording: true,
            startWithAudioMuted: true,
            disableInitialGUM: true,

        },
        interfaceConfigOverwrite: {
            SHOW_CHROME_EXTENSION_BANNER: false, //ok
            TOOLBAR_ALWAYS_VISIBLE: true, // ok
            SETTINGS_SECTIONS: ['devices', 'language'],
            SHOW_POWERED_BY: false,
            TOOLBAR_ALWAYS_VISIBLE: true,
        },
        /* The toolbars that will be available for only the creator of the meeting */
        TOOLBAR_BUTTONS: ["microphone","camera","desktop","hangup","chat","raisehand","participants-pane","tileview","toggle-camera","invite","videoquality","livestreaming","mute-everyone","mute-video-everyone","sharedvideo","shareaudio","select-background","stats","settings","filmstrip"],
    };
const api = new JitsiMeetExternalAPI(domain, options);
</script>

{% endblock %}
</body>

</html>